footer {
  padding-top: 5px;
  padding-bottom: 5px;
}
.custom-bg-color {
  background-color: #132a3e;
}

a .text-white{
  color: white;
  text-decoration: none;
}
a .text-white:hover {
  color: #0783FF; /* Yellow color on hover  */
}

i {
  margin-right: 8px;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.col {
  text-align: center;
  padding: 15px;
}
.col + .col {
  margin-top: 50px;
}