/* Estilos para el encabezado */
.header{
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbar {
  background-color:#1d5a87 !important; 
}

.navbar a{

  color: #fff !important;
  font-size: 1.3rem;
}

.dropdown-menu{
  background-color:#1d5a87 !important; 
}

.dropdown-item:hover{
  background-color: cadetblue;
}

