/* Image.css */
.image {
  width: 100%;
  position: relative;
  animation: fading 2s;
}

.image img {
  width: 100%;  
}


@keyframes fading {
  0% {
      opacity: 0
  }

  100% {
      opacity: 1
  }
}