/* Estilos para el campo de búsqueda */
.Search {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
  }
  
  .search input {
    padding: 5px;
  }
  
  .search button {
    background-color: #007bff; 
    color: #fff; 
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  