/* Estilos para el título del proyecto */
.title {
  }

  .titleWord{
    font-size: 22px;
    color:white;
    margin: 0; 
    font-family: 'Times New Roman', Times, serif;
  }
  
  @media (max-width:1200px){
    .title{
      font-size: 35px;
    }
  }