

.container_legalize {
    background-image: url('./bgImage1.png');
    margin: 20px;
  }

  .legalize_content {
    display: flex;
  }
  
 
  
  .ul_legalize {
    list-style-type: none;
    --square-size: 16px;
  --gutter: 2px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(var(--square-count), var(--square-size));
  grid-column-gap: var(--gutter);
  grid-row-gap: var(--gutter);
  width: calc(var(--square-count) * var(--square-size) + calc(var(--square-count) - 1) * var(--gutter));
  }

  
  
  .step {
    display: flex;
    background-color: #e7eef5;
    color:#000000;
    border: 1px solid #1e2b53;
    font-size: 1.4rem;
    border-radius: 10px; 
    margin: 5px;
    display: block;
    animation-name: animateIn;
    animation-duration: 350ms;
    animation-delay: calc(var(--animation-order) * 100ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    
  }
  
  .step.active {
    display: block;
    background-color: #18196e;
    color:#fff;
    border: 2px solid #fff;
    border-radius: 10px;

    
  }
  
  .button_legalize {
    margin: 5px;
  }

  .step-numbers {
    display: flex;
  flex-wrap: wrap; 
  gap: 5px; 
  }
  
  .step-number {
    cursor: pointer;
    margin-right: 5px;
    padding-left: 5px;
    font-size: 1.4rem;
    margin: 5px;
    margin-top: 10px;

    background-color:  rgb(30, 97, 173);
    border-radius: 185px;
    width: 60px;
    display: block;
    height: var(--square-size);
    width: var(--square-size);
    animation-name: animateIn;
    animation-duration: 350ms;
    animation-delay: calc(var(--animation-order) * 50ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    
  }
  
  .step-number.active {
    font-weight: bold;
    background-color: #18196e;
  color: #fff;
  
    
  }
  @keyframes animateIn {
    0% {
      opacity: 0;
      transform: scale(0.6) translateY(-8px) translateX(-8px);
    }
    
    100% {
      opacity: 1;
    }
  }