/* SocialServices.css */
.social_services_body {
    background-image: url('../imgs_interface/socialservices.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
